.font-header{
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
}

.font-topic{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

.font-list{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

ิ.border-bottom{
    border-bottom: solid 1px lightgray !important;
}

.white-bg {
    background-color: white;
}

.btn-style{
    background-color: white;
    border: solid 1px #7a7a7a;
}

