<div class="row border-bottom">
  <div class="col-9 ml-4 mt-3">
    <p class="font-header">ข่าวสารจาก Sharing</p>
  </div>
  <div class="col-12 col-sm-2 col-md-2 mt-3">
    <button name="btnCreateNews" style="width: 100%;" mat-stroked-button class="btn-style">เพิ่มข่าวสาร</button>
  </div>
</div>

<div class="row border-bottom white-bg">
  <div class="col-10 mb-3 mt-3"><span class="ml-2 font-topic">เรื่อง</span></div>
  <div class="col-2 mb-3 mt-3"><span class="ml-2 font-topic">วันที่</span></div>
</div>

<div class="row border-bottom" *ngFor="let item of [1,2,3,4,5]">
  <div class="col-10 mb-3 mt-3"><span class="font-list">ประกาศจากเว็บซ้ายเว็บขวาเว็บหน้าเว็บหลัง</span></div>
  <div class="col-2 mb-3 mt-3"><span class="font-list">18/2/2019</span></div>
</div>