.bg-tab-list{
    background-color: white;
}

.disable-scroll {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.img-style{
    width: 80px;
    height: 80px;
}

ิ.border-bottom{
    border-bottom: solid 1px lightgray !important;
}

.btn-style{
    background-color: white;
}

.font-remark{
    font-size: 12px;
    color: gray;
}

.font-red{
    color: red;
}

.font-green{
    color: green;
}

.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
