<div class="title-products ml-4 mt-5 mb-3">
  รายการบริจาค
</div>
<div class="row" *ngIf="data && data.data && data.data.length > 0">
  <div class="col-0 col-sm-0 col-md-1"></div>

  <div class="col-12 col-sm-12 col-md-10">
    <div class="row scroll-x">
      <div class="col-6 col-sm-6 col-md-4 height-prod" *ngFor="let item of data.data">
        <img *ngIf="item && item.image && item.image.length > 0" class="img-style border-image pointer "
          style="border-radius: 2%" [src]="item.image[0].url">
        <img *ngIf="item && item.image && item.image.length < 1" class="img-style border-image pointer "
          src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548731775/web-sharing/no-image.png">
        <div class="text-overflow text-image border-radius pointer" style="padding-top: 5px;padding-bottom: 5px">
          <div style="padding-left: 10px;padding-bottom: 10px">
            <p style="margin-bottom: 0px" class="font-prod">{{item.name}}</p>
            <p style="margin-bottom: 0px" class="font-prod">ขนาด : {{item.size}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-0 col-sm-0 col-md-1"></div>
</div>