.example-spacer {
    flex: 1 1 auto;
}

.profile {
    font-size: 1rem !important;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: -0.5rem;
    cursor: pointer;
}

.img {
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.user-name {
    padding-left: 0.5rem;
}

.pointer {
    cursor: pointer;
}

.heart-color {
    color: red;
}

.favoriteX {
    position: relative;
    bottom: 5px;
    font-size: 1rem;
}

.favoriteNumber {
    font-size: 1rem;
    position: relative;
    bottom: 5px;
}

.pointer-heart{
    cursor: default;
}