<mat-toolbar style="background-color: white;border-bottom: solid 1px  #e2e2e2" class="stick-header">
  <mat-toolbar-row class="container">
    <div style="border-right: solid 1px black; cursor: pointer;" (click)="onClickToHome()">
      <img style="width: 25px;margin-right: 10px;position: relative;top: 2px"
        src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548819371/web-sharing/logo.png">
    </div>
    <div (click)="onClickToHome()" style="cursor: pointer;">
      <img style="width: 100px;margin-left: 10px"
        src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548819374/web-sharing/font.png">
    </div>
    <span class="example-spacer"></span>
    <span class="pointer-heart d-none d-sm-block d-md-block" *ngIf="userAuth" style="position: relative;top: 5px">
      <img style="width: 25px;margin-right: 5px;position: relative;top: -4px" title="ได้รับจากการบริจาคมีผู้รับเสร็จสมบูรณ์"
        src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908336/web-sharing/icon-heart.png">
      <span class="favoriteX">x </span>
      <span class="favoriteNumber" *ngIf="point">{{remainpoint}}</span>
    </span>
    <span class="profile " *ngIf="userAuth" style="position: relative;top: 5px" (click)="openProfile()">
      <!-- <img [src]="userAuth.profileImageURL" class="img" alt="img"> -->
      <span class="user-name d-none d-sm-block d-md-block">
        <img src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908205/web-sharing/no-image-user.jpg"
          class="img" style="margin-right: 5px;">
        {{userAuth.username}}
      </span>
      <span class="d-block d-sm-none d-md-none" style="margin-top: 2px">
        <!-- <img src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908205/web-sharing/no-image-user.jpg"
          class="img"> -->
        <span class="user-name">{{userAuth.username}}</span>
      </span>
    </span>

    <span class="pointer" *ngIf="userAuth" [matMenuTriggerFor]="logout" style="position: relative;top: 5px">
      <mat-icon class="position-icon">power_settings_new</mat-icon>
    </span>
    <mat-menu #logout="matMenu">
      <button name="btn-logout" mat-menu-item (click)="onLogout()">
        <span>ออกจากระบบ</span>
      </button>
    </mat-menu>

    <span *ngIf="!userAuth" class="register-style pr-1" (click)="openRegister()">
      สมัครสมาชิก
    </span>
    <span *ngIf="!userAuth">
      |
    </span>
    <span *ngIf="!userAuth" class="login-style pl-1 pr-1" (click)="openLogin()">
      ลงชื่อเข้าใช้
    </span>
  </mat-toolbar-row>
</mat-toolbar>