<div name="divDonateDetailRow" class="row container m-0 pt-3 pb-5">
  <div name="divDonateDetailCol6" class="col-12 col-sm-12 col-md-12 col-lg-6 mt-3">
    <div name="divDonateDetailImage" class="image-container">
      <slideshow name="slideShowDonateDetailImage" [imageUrls]="imageArray" ></slideshow>
    </div>
  </div>
  <div name="divDonateDetailData" class="col-12 col-sm-12 col-md-12 col-lg-6 mt-3" *ngIf="data && data.data && data.data.detail">
    <h2 name="h2DonateDetailName">
      {{data.data.name}}
    </h2>
    <h4 name="h4DonateDetailDetail">
      {{data.data.detail}}
    </h4>
    <button name="btnDonateDetailAccept" mat-raised-button color="primary" class="text-center btn-size" (click)="onAcceptDonate()" [disabled]="data.data.status === false">รับสินค้า</button>

  </div>
</div>