<div name="divDonateDetailRow" class="row">
  <div name="divDonateDetailCol6" class="col-6 mt-3">
    <div name="divDonateDetailImage" style="height: 300px; object-fit: cover">
      <slideshow name="slideShowDonateDetailImage" [imageUrls]="imageArray" ></slideshow>
    </div>
  </div>
  <div name="divDonateDetailData" class="col-6 pl-2 mt-2" *ngIf="data && data.data && data.data.detail">
    <h2 name="h2DonateDetailName">
      {{data.data.name}}
    </h2>
    <h4 name="h4DonateDetailDetail">
      {{data.data.detail}}
    </h4>
    <button name="btnDonateDetailAccept" mat-raised-button color="primary" class="text-center" (click)="onAcceptDonate()">รับสินค้า</button>

  </div>
</div>