<div name="divDonateDetailRow" class="row container ml-0 mr-0">
  <div name="divDonateDetailCol6" class="col-12 col-sm-12 col-md-12 col-lg-6 mt-3">
    <div name="divDonateDetailImage" class="image-container" *ngIf="imageArray && imageArray.length > 1">
      <slideshow name="slideShowDonateDetailImage" [imageUrls]="imageArray"></slideshow>
    </div>
    <div name="divDonateDetailImageSingle" class="image-container" *ngIf="imageArray && imageArray.length === 1">
      <img name="donateDetailImageSingle" *ngFor="let item of imageArray" [src]="item.url" class="image-size">
    </div>
    <div name="divDonateDetailNoImage" class="image-container" *ngIf="imageArray && imageArray.length === 0">
      <img name="donateDetailNoImage"
        src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548731775/web-sharing/no-image.png" class="image-size">
    </div>
  </div>
  <div name="divDonateDetailData" class="col-12 col-sm-12 col-md-12 col-lg-6 mt-3"
    *ngIf="data && data.data && data.data.detail">
    <!-- <h2 name="h2DonateDetailName">
      {{data.data.name}}
    </h2> -->
    <!-- <h4 name="h4DonateDetailDetail">
      {{data.data.detail}}
    </h4> -->
    <div class="border-bottom margin-top">
      <p name="h2DonateDetailName" class="name-prod text-overflow">
        {{data.data.name}}
      </p>
    </div>
    <div class="margin-top">
      <p name="h2DonateSize">
        <span class="topic-prod">ขนาด: </span> {{data.data.size}}
      </p>
    </div>
    <div class="margin-top">
      <p name="h4DonateDetailDetailText">
        <span class="topic-prod">รายละเอียด: </span>
      </p>
    </div>
    <div class="margin-top height-detail word-wrap scroll-detail d-none d-sm-none d-md-none d-lg-block">
      <p name="h4DonateDetailDetail">
        {{data.data.detail}}
      </p>
    </div>
    <div class="margin-top height-detail-small word-wrap scroll-detail d-block d-sm-block d-md-block d-lg-none">
      <p name="h4DonateDetailDetail">
        {{data.data.detail}}
      </p>
      <!-- <p>
          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        </p> -->
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <button name="btnDonateDetailAccept" mat-stroked-button class="text-center btn-size margin-top btn-style"
          (click)="onAcceptDonate()"
          [disabled]="data.data.status === false || data.data.donator === modalData.user_id">รับสินค้า</button>
      </div>
      <div class="col-12 col-md-6">
        <button mat-stroked-button class="text-center btn-size margin-top btn-size btn-cancel-style" (click)="onCancel()">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>