<div name="divLoginContent" class="content">
    <div name="divLoginRow" class="row mt-5">
        <div name="divLoginColImg" class="col-12 col-sm-12 col-md-7 d-none d-sm-none d-md-block mt-2">
            <iframe width="85%" height="100%" src="https://www.youtube.com/embed/tIj2ms-lYTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>

        <div name="divNodeLogin" class="col-md-5 col-sm-12">
            <auth-login></auth-login>
        </div>
    </div>

</div>