<div name="divLoginContent" class="content">
    <div name="divLoginRow" class="row mt-5">
        <div name="divLoginColImg" class="col-md-7 col-sm-12">
                <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/tIj2ms-lYTI" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
        </div>

        <div name="divNodeLogin" class="col-md-5 col-sm-12">
            <auth-login></auth-login>
        </div>
    </div>
    
</div>