<!-- The content below is only a placeholder and can be replaced. -->
<app-header-toolbar></app-header-toolbar>
<div class="container" style="margin-top: 97px;margin-bottom: 32px;padding-left: 80px;padding-right: 80px">
  <router-outlet></router-outlet>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#ff9558" type="ball-atom">
  <p style="font-size: 14px; color: white; margin-top: 14px;">กำลังโหลด...</p>
</ngx-spinner>
<!-- <footer>
  <div class="row mt-2" style="padding-right: 0px;">
    <div class="col-12 pr-0 text-center">
      <small color="gray">เวอร์ชั่นปัจจุบัน : 1.0</small>
    </div>
  </div>
</footer> -->