<div class="row pt-3 pb-3" style="border: solid 1px lightgray;border-radius: 2%;">
  <div class="col-1">
    <p class="margin-icon">
      <mat-icon>people</mat-icon>
    </p>
    <p class="margin-icon">
      <mat-icon>email</mat-icon>
    </p>
    <p class="margin-icon">
      <mat-icon>contact_phone</mat-icon>
    </p>
    <p class="margin-icon">
      <mat-icon>info</mat-icon>
    </p>
  </div>
  <div class="col-7">
    <p>
      <span>ชื่อ: </span> <span>Ponlawath Changkeb</span>
    </p>
    <p>
      <span>อีเมลล์: </span> <span>pure@gmail.com</span>
    </p>
    <p>
      <span>โทรศัพท์: </span> <span>0853271652</span>
    </p>
    <p class="mb-0">
      <span>ขนาดเสื้อ: </span> <span>S</span>
    </p>
  </div>
  <div class="col-4 text-right">
    <button mat-stroked-button (click)="onClickToEdit()">เเก้ไขโปรไฟล์</button>
  </div>
</div>