ิ.border{
        border: solid 1px lightgray !important;
        border-radius: 2%;
}

.margin-icon{
    margin-bottom: 10px;
}

.btn-style{
    background-color: white;
    border: solid 1px #7a7a7a;
}

.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }