
<div class="row pt-3 pb-3" style="border: solid 1px lightgray;border-radius: 2%;">
  <div class="col-1 pr-0 text-center">
    <p class="margin-icon">
      <mat-icon>people</mat-icon>
    </p>
    <p class="margin-icon">
      <mat-icon>email</mat-icon>
    </p>
    <p class="margin-icon">
      <mat-icon>info</mat-icon>
    </p>
  </div>
  <div class="col-7 pl-0" *ngIf="data">
    <p>
      <span>ชื่อ: </span> <span>{{data.displayname}}</span>
    </p>
    <p>
      <span>อีเมลล์: </span> <span>{{data.email}}</span>
    </p>
    <p class="mb-0">
      <span>ขนาดเสื้อ: </span> <span>{{data.ref1}}</span>
    </p>
  </div>
  <div class="col-4 text-right">
    <button mat-stroked-button (click)="onClickToEdit()">เเก้ไขโปรไฟล์</button>
  </div>
</div>