<div class="row mt-3 mb-3 text-center border" style="border-radius: 2%;">
  <div class="col-4 pt-3">
    <p>ทั้งหมด</p>
  </div>
  <div class="col-4 pt-3">
    <p>ที่ใช้ไป</p>
  </div>
  <div class="col-4 pt-3">
    <p>คงเหลือ</p>
  </div>
  <div class="col-4 pb-3">
    <img class="heart-style" src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908336/web-sharing/icon-heart.png">
    <span class="ml-2 pb-3">100</span>
  </div>
  <div class="col-4">
    <img class="heart-style" src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908336/web-sharing/icon-heart.png">
    <span class="ml-2 pb-3">80</span>
  </div>
  <div class="col-4">
    <img class="heart-style" src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548908336/web-sharing/icon-heart.png">
    <span class="ml-2">20</span>
  </div>
</div>