<div name="divContent" class="content">
    <div name="divRowMt4" class="row, row mt-4">
        <div name="divCol61" class="col-6 ">
            <mat-search-bar name="matSearchBar" class="search-position">

            </mat-search-bar>
        </div>
        <div name="divCol62" class="col-6  text-right ">

            <div name="divBtnonCreateDonate" class="example-button-row">
                <button name="btnOnCreateDonate" mat-flat-button color="primary" (click)="onCreateDonate()">บริจาค</button>
            </div>

        </div>

        <div name="divNgifRowMt2" class="row mt-2" *ngIf="data">

            <div name="divColsm12Md4Lg3Ngfor" class="col-sm-12 col-md-4 col-lg-3" *ngFor="let item of data.data">
                <div name="divMargin" class="margin">
                    <mat-card name="matCardClickonCreateDonate" class="example-card" (click)="onDonateDetail(item)">

                        <img name="imageCardShirt" mat-card-image class="cardsize" [src]="item.image[0].url">
                        <mat-card-content name="matCardContentNameAndSize">

                            <h5 name="h5NameShirt" class="text">
                                {{item.name}}
                            </h5>

                            <h5 name="h5SizeShirt" class="text-right">
                                {{item.size}}
                            </h5>

                        </mat-card-content>

                    </mat-card>
                </div>

            </div>


        </div>