.mat-fab{
  width: 8rem;
  height: 8rem;
  mat-icon{
    margin-left: -2.5rem;
    margin-top: -2.5rem;
    font-size: 4rem;
  }
}
.home-big-button-svg {
  display: block;
  fill: #fff;
  width: 4rem;
  height: 4rem;
}
.green{
  background-color: #a9c85f !important;
}


.search-position {
  position: absolute;
  right: 350px;

}
.margin {
    border: solid 1px;
    margin: 20px;
    color: transparent;
}
.text {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.cardsize {
  vertical-align: middle;
  width: 300x;
  height: 200px;
 
}