<div name="divContent" class="content">
    <div name="divRowMt4" class="row mt-4 mb-3">
        <div name="divCol61" class="col-10 ">
            <mat-form-field style="width: 50%" class="example-form-field">
                <span matPrefix style="position: relative;top: -3px;">ค้นหา : &nbsp;</span>
                <input matInput type="text" class="height-input">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div name="divCol62" class="col-2 center">
            <div name="divBtnonCreateDonate">
                <button name="btnOnCreateDonate" style="width: 100%" mat-flat-button color="primary" (click)="onCreateDonate()">บริจาค</button>
            </div>
        </div>
    </div>
    <div class="row border-middle mb-5">
        <div class="col-12">

        </div>
    </div>
    <div name="divNgifRowMt2" class="row" *ngIf="data && data.data && data.data.length > 0">
        <div class=" col-md-4" *ngFor="let item of data.data" (click)="onModalDetail(item)">
            <img *ngIf="item && item.image && item.image.length > 0" name="imageCardShirt" class="img-style border-image pointer "
                style="border-radius: 2%" [src]="item.image[0].url">
            <img *ngIf="item && item.image && item.image.length < 1" name="imageCardShirt" class="img-style border-image pointer "
                src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548731775/web-sharing/no-image.png">
            <div class="text-overflow text-image" style="padding-top: 5px;padding-bottom: 5px">
                <div style="padding-left: 10px;padding-bottom: 10px">
                    <p style="margin-bottom: 0px" class="font-prod">{{item.name}}</p>
                    <p style="margin-bottom: 0px" class="font-prod">ขนาด : {{item.size}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div name="divColsm12Md4Lg3Ngfor" class="col-sm-6 col-md-4 col-lg-3 " *ngFor="let item of data.data">
        <div name="divMargin" class="margin">
            <mat-card name="matCardClickOnDonateDetail" class="example-card" class="pointer" (click)="onDonateDetail(item)">
                <img *ngIf="item && item.image.length > 0" name="imageCardShirt" mat-card-image class="cardsize" [src]="item.image[0].url">
                <img *ngIf="item && item.image.length < 1" name="imageCardShirt" mat-card-image class="cardsize" src="https://res.cloudinary.com/dyiuidzsc/image/upload/v1548731775/web-sharing/no-image.png">
                <mat-card-content name="matCardContentNameAndSize">
                    <h6 name="h5NameShirt" class="text">
                        {{item.name}}
                    </h6>
                    <p name="h5SizeShirt">
                        ขนาด : {{item.size}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div> -->