.height-input {
    height: 25px;
}

.full-width {
    width: 100% !important;
}

.red-color {
    color: red;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .color-btn{
    background-color: white;
    border: solid 1px #7a7a7a;
  }