<div class="row pt-3">
  <div class="col">
    <h5 name="h5Header">แก้ไขข้อมูลผู้ใช้</h5>
  </div>
</div>

<div class="row pt-3 pl-3">

  <div class="col-3 col-md-2">
    <p style="margin-top: 16px">ชื่อ <span class="red-color">*</span></p>
  </div>
  <div class="col-6">
    <mat-form-field class="full-width">
      <input class="height-input" matInput>
    </mat-form-field>
  </div>
</div>

<div class="row pt-3 pl-3">
  <div class="col-3 col-md-2">
    <p style="margin-top: 16px">ชื่อผู้ใช้ <span class="red-color">*</span></p>
  </div>
  <div class="col-6">
    <mat-form-field class="full-width">
      <input class="height-input" matInput>
    </mat-form-field>
  </div>
</div>

<div class="row pt-3 pl-3">
  <div class="col-3 col-md-2">
    <p style="margin-top: 16px">อีเมลล์ <span class="red-color">*</span></p>
  </div>
  <div class="col-6">
    <mat-form-field class="full-width">
      <input class="height-input" matInput>
    </mat-form-field>
  </div>
</div>

<div class="row pt-3 pl-3">
    <div  class="col-3 col-md-2">
      <p  style="margin-top: 16px">ขนาด <span class="red-color">*</span></p>
    </div>
    <div  class="col-6">
      <mat-form-field >
        <mat-select >
          <mat-option  *ngFor="let item of size" [value]="item.value" >
            {{item.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div  class="col-4"></div>
    <div  class="col-12 col-md-2 mt-3">
      <button name="btnSave" mat-flat-button  class="full-width" color="primary" >บันทึก</button>
    </div>

    <div  class="col-12 col-md-2 mt-3">
      <button  mat-stroked-button class="full-width" (click)="onCancelEdit()">ยกเลิก</button>
    </div>
    <div class="col-4"></div>
  </div>