<div name="divRowHeader" class="row pt-3">
  <div name="divColHeader" class="col">
    <h5 name="h5Header">รูปสิ่งที่แบ่งปัน <span class="red-color">*</span></h5>
  </div>
</div>

<div name="divRowUploadImg" class="row pt-3 pl-3">
  <div name="divColUploadImg" class="col-12 col-md-3 center mt-1 mb-1" (click)="uploadImg()" *ngIf="images.length < 4">
    <div name="
    divBtnUploadImg" class="border-upload-img center full-width">
      <!-- <mat-icon style="font-size: 220%">add</mat-icon> -->
      <button name="btnUploadImg" mat-fab color="primary">
        <mat-icon name="iconUploadImg">add</mat-icon>
      </button>
    </div>
  </div>

  <div name="divcolImgProd" class="col-12 col-md-3 mt-1 mb-1" *ngFor="let item of images;let i = index">
    <div class="contrain">
      <div class="tools">
        <div name="buttonDeleteImage" class="remove" (click)="deleteImg(i)">
          <mat-icon>delete</mat-icon>
        </div>
      </div>
      <img [src]="item.url" alt="image" class="product-img">
    </div>
  </div>

  <input name="productImage" type="file" #productImg accept="image/*" [(ngModel)]="productImgModel" (change)="onProductImgChange($event)"
    style="visibility: hidden;">
</div>

<div name="divRowAllDetail" class="row pt-3">
  <div name="divColAllDetail" class="col">
    <h5 name="h5AllDetail">รายละเอียดสิ่งที่แบ่งปัน</h5>
  </div>
</div>

<div name="divRowName" class="row pt-3 pl-3">
  <div name="divColTextName" class="col-3 col-md-2">
    <p name="pName" style="margin-top: 16px">ชื่อ <span class="red-color">*</span></p>
  </div>
  <div name="divColInputName" class="col-6">
    <mat-form-field name="mffInputName" class="full-width">
      <input name="inputName" class="height-input" matInput [(ngModel)]="data.name" placeholder="เพิ่มชื่อสิ่งของทีต้องการบริจาค">
    </mat-form-field>
  </div>
</div>

<div name="divRowSize" class="row pt-3 pl-3">
  <div name="divColTextSize" class="col-3 col-md-2">
    <p name="pSize" style="margin-top: 16px">ขนาด <span class="red-color">*</span></p>
  </div>
  <div name="divColInputSize" class="col-6">
    <mat-form-field name="mffSize">
      <mat-select name="selectSize">
        <mat-option name="optionSize" *ngFor="let item of size" [value]="item.value" (click)="getSize(item.value)">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div name="divRowDetail" class="row pt-3 pl-3">
  <div name="divColTextDetail" class="col-3 col-md-2">
    <p name="pDetail" style="margin-top: 16px">รายละเอียด <span class="red-color">*</span></p>
  </div>
  <div name="divColInputDetail" class="col-6">
    <mat-form-field name="mffInputDetail" class="full-width">
      <textarea name="inputDetail" name="inputDetail" [(ngModel)]="data.detail" matInput placeholder="เพิ่มรายละเอียดการบริจาค, สถานที่นัดรับ"></textarea>
    </mat-form-field>
  </div>
</div>

<div name="divRowBtn" class="row">
  <div name="divColBlank4" class="col-4"></div>
  <div name="divColBtnSave" class="col-12 col-md-2 mt-3">
    <button name="btnSave" mat-flat-button (click)="onSaveDonate()" class="full-width" color="primary" [disabled]="!data.name || !data.size || !data.detail || images.length < 1">บันทึก</button>
  </div>
  <div name="divColBtnCancel" class="col-12 col-md-2 mt-3">
    <button name="btnCancel" mat-stroked-button class="full-width" (click)="onCancel()">ยกเลิก</button>
  </div>
  <div name="divColBlank5" class="col-4"></div>
</div>