.mat-fab {
    width: 8rem;
    height: 8rem;
    mat-icon {
        margin-left: -2.5rem;
        margin-top: -2.5rem;
        font-size: 4rem;
    }
}

.home-big-button-svg {
    display: block;
    fill: #fff;
    width: 4rem;
    height: 4rem;
}

.green {
    background-color: #a9c85f !important;
}

.search-position {
    position: absolute;
    right: 350px;
}

.margin {
    border: solid 1px; // margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: transparent;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardsize {
    vertical-align: middle;
    width: 350x;
    height: 225px;
}

.pointer {
    cursor: no-drop;
}

.height-input {
    height: 25px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-middle {
    border-bottom: solid 1px #e2e2e2;
}

.title-Logo {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

.count-number {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 61px;
}
